@using GPTshka4.Models.TestModels
@model TestModel
Test view
<br/>

<form  asp-action="Index" asp-controller="Test" method="post">
    <input type="text" asp-for="aboba" />
    <input type='submit' value='Send' />
</form>

<div>
    
    @using (Html.AjaxBeginForm("GptTestPartial", new AjaxOptions { UpdateTargetId = "results" }))
{
        <input type="text" name="request" />
        <input type="submit" value="Отправить" />
}
</div>
<div id="results"></div>
<div>
    @Html.PartialAsync("GptTestPartial").Result
</div>