@using GPTshka4.Models.TestModels
@model TestModel
Test view
<br/>

<form  asp-action="Index" asp-controller="Test" method="post">
    <input type="text" asp-for="aboba" />
    <input type='submit' value='Send' />
</form>

@Model.aboba
