@model IEnumerable<GPTshka4.Models.DbModels.Message>
<pre>
<div class="chat_box" id="chatBox">

   @foreach(var item in Model)
    {
        @if(item.IsUser){
            <div class="chat-message user-message">@item.Text</div>
        }
        else
        {
            <div class="chat-message gpt-message">@item.Text</div>
        }


    }
  
</div>
 </pre>

