@model IEnumerable<GPTshka4.Models.DbModels.Message>
@{
    ViewData["Title"] = "Home Page";
}
<div class="chatContainer">
    <div class="wrapper">
        <div class="scroll-container" id="scrollContainer">
            @await Html.PartialAsync("ChatFieldPartial",Model)
        </div>
        @await Html.PartialAsync("InputBarPartial")
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
