@{
    ViewData["Title"] = "Home Page";
}
<div class="chatContainer">
    <div class="wrapper">
        <div class="scroll-container">
            @await Html.PartialAsync("ChatFieldPartial")
        </div>
        @await Html.PartialAsync("InputBarPartial")
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
       const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7116/chat")
            .build();

        connection.on("ResiveMessage", (userName, message) => {
            console.log(userName);
            console.log(message);
        });

             connection.start().then(()=>{
              connection.invoke("JoinChat", getUserName());
             }
             )
      
           

    
    function getUserName() {
        var userName = document.getElementById('userName').textContent;
        return userName;
    }

    //const button = document.querySelector('#sendButton');
    //button.addEventListener('click', joinChat);



</script>
