@{
    ViewData["Title"] = "Home Page";
}
<div class="chatContainer">
    <div class="wrapper">
        <div class="scroll-container">
            @await Html.PartialAsync("ChatFieldPartial")
        </div>
        @await Html.PartialAsync("InputBarPartial")
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
