  <div class="text_bar">
    @using (Html.AjaxBeginForm("ChatFieldPartial", new AjaxOptions { UpdateTargetId = "chatBox" }))
{
        <input type="text" class="input_field">
        <input type="submit" value="Отправить">
    
    
}
  </div>
