* {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

div {
    border-style: dashed;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 55px;
}

.chatContainer {
    height: 100%;
}

.wrapper {
    display: flex;
    overflow: auto;
    flex-direction: column;
    margin: 0px 18vw;
    height: 100%;
    
   
}

.chat_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow:1;
    justify-content:flex-end;

}
.scroll-container {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
  
}

.text_bar {
    display: flex;
    margin-bottom: 60px;
    min-height: 45px;
    height: 5vw;
    padding: 5px;

}

.input_field {
    font-size: larger;
    width: 100%;
    height: 100%;
}

.input_send_button {
    margin-left: 5px;
}

.chat-message {
    
    background-color: cornsilk;
    margin-right:10px;
    margin-bottom:11px;
    min-height:50px;
    
}
.user-message
{
    align-self:flex-end;
}
.gpt-message
{   margin-left:10px;
    align-self:flex-start;
}