<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    <title>@ViewData["Title"] - GPTshka4</title>
    @await Html.PartialAsync("CssPartial")

</head>
<body>
    @await Html.PartialAsync("HeaderPartial")

    <div><a href="/Home/Index">Home</a> | <a href="/Home/Privacy">Privacy</a></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
