<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand"  href="@Url.Action("Index","Home")">GPTshka</a>
            }
            else
            {
                <a class="navbar-brand" href="@Url.Action("Register","Account")">GPTshka</a>
            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="navbar-text" id="userName">@User.Identity.Name</span>
                        <div class="nav-item" style="color:white">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" value="Выход" />
                            </form>
                        </div>

                    }
                    else
                    {
                        <div class="nav-item" style="color:white">
                            <a href="@Url.Action("Register","Account")">Регистрация</a>
                        </div>
                        <div class="nav-item" style="color:white">
                            <a asp-controller="Account" asp-action="Login">Вход</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>